/* Add CSS for the app here
  * This file will be included in the final build
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #27272a;
  color: #f8fafc;
}

header h1 {
  font-size: 3em;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1em;
}

nav ul li {
  background-color: #71717a;
  padding: 5px;
  border-radius: 5px;
  
}

nav ul li:hover {
  background-color: #4a4a4a;
  box-shadow: 0 0 10px 0 #09090b;
}

#add-recipe-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

#add-recipe-btn {
  background-color: #71717a;
  padding: 5px;
  border-radius: 5px;
}

#add-recipe-btn:hover {
  background-color: #4a4a4a;
  box-shadow: 0 0 10px 0 #09090b;
}

#recipe-modal {
  background-color: #52525b;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
}

#recipe-modal h2 {
  font-weight: bold;
  font-size: 2em;
}

.form-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  gap: 0.5em;
}

.form-column label {
  font-weight: bold;
}

/* .form-column input, */
.form-column textarea,
.form-column select {
  padding: 5px;
  border-radius: 5px;
  color: #52525b;
}

#recipe-form h3, #recipe-form label {
  font-weight: bold;
  padding: 0.5em;
}

#recipe-name, #recipe-description, #recipe-image, #difficulty-level, #prep-time, #cook-time, #servings, #category, #cuisine, #source {
  padding: 5px;
  border-radius: 5px;
  color: #52525b;
  width: 75%;
}

#recipe-form textarea {
  resize: both;
  border-radius: 5px;
  color: #52525b;
}

#recipe-form select {
  padding: 5px;
  border-radius: 5px;
  color: #52525b;
}

#recipe-form button {
  background-color: #71717a;
  padding: 2px;
  margin: 0.5em;
  border-radius: 5px;
  width: 25%;
}

#recipe-form button:hover {
  background-color: #4a4a4a;
  box-shadow: 0 0 10px 0 #09090b;
}

#recipe-form button[type="submit"] {
  width: 10%;
}

#ingredient-list, #instruction-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.ingredient-item, .instruction-item {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#ingredient-input, #instruction-input {
  border-radius: 5px;
  color: #52525b;
}

#close-recipe-modal {
  background-color: #71717a;
  padding: 5px;
  margin: 0.5em;
  border-radius: 5px;
}

#close-recipe-modal:hover {
  background-color: #4a4a4a;
  box-shadow: 0 0 10px 0 #09090b;
}

#recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5em;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 1.5em;
}